@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url(../fonts/roboto.woff2);
  src: url(../fonts/roboto.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url(../fonts/robotomedium.woff2);
  src: url(../fonts/robotomedium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", Arial, sans-serif;
  src: url(../fonts/robotobold.woff2);
  src: url(../fonts//robotobold.woff);
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-black-text: #000000;
  --color-dark-text: #283136;
  --color-gray-text: #444444;
  --color-gray-light-text: #666666;
  --color-white-text: #ffffff;
  --color-red-text: #FB565A;

  --color-gray-gray: #a6a6a6;
  --color-gray: #4d4d4d;
  --color-border-gray-medium: #B4B9BB;
  --color-border-gray: #d7d7de;
  --color-bg-gray: #E1E1E1;
  --color-bg-gray-medium: #EAEAEA;
  --color-bg-gray-light: #EEEEEE;                              /*bg - background*/
  --color-bg-white: #ffffff;
  --color-bg-blue: #4245ff;

  --color-brown: #231F20;
  --color-red: #FB565A;
  --color-red-medium: #E74246;
  --color-red-dark: #D7373B;
  --color-green: #00CA74;
  --color-green-medium: #00BC6C;
  --color-green-dark: #00AA62;
  --color-yellow: #EFC849;
  --color-yellow-medium: #EAB534;
  --color-yellow-dark: #EAB534;
}

/*Global*/

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  border: 0;
  text-align: center;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-black-text);
  background-color: transparent;
}

.main-header {
  background-color: var(--color-bg-gray-light);
}

.site-navigation {
  list-style: none;
}

/*User navigation*/

.site-navigation a,
.user-navigation a {
  color: var(--color-black-text);
}

.site-navigation-link:not([href]) {
  border-bottom: 2px solid var(--color-red-text);
  padding-bottom: 12px;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--color-red-text);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--color-black-text);
  opacity: 0.3;
}

/* Features */

.features {
  background-color: var(--color-bg-gray-light);
}

.features-list {
  list-style: none;
}

.fearutes-item-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-style: normal;
  font-weight: 500;
  color: var(--color-black-text);
}

.fearutes-item-subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--color-dark-text);
}

/*features button*/

.features-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-white-text);
  background-color: var(--color-red);
}

.features-button:hover {
  background-color: var(--color-red-medium);
}

.features-button:active {
  color: rgba(255,255,255,0.5);

  background-color: var(--color-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Products*/

.products {
  background-color: var(--color-bg-white);
}

.products-list {
  list-style: none;
}

.products-web {
  background-color: var(--color-red);
  width: 300px;
  height: 146px;
}

.products-apps {
  background-color: var(--color-green);
  width: 300px;
  height: 146px;
}

.products-presentations {
  background-color: var(--color-yellow);
  width: 300px;
  height: 146px;
}

.products-item-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
}

.products-item-subtitle {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/*products button*/

.products-item .button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-white-text);
}

.products-item .button-red {
  background-color: var(--color-red);
}

.products-item .button-red:hover {
  background-color: var(--color-red-medium);
}

.products-item .button-red:active {
  color: rgba(255,255,255,0.5);

  background-color: var(--color-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-item .button-green {
  background-color: var(--color-green);
}

.products-item .button-green:hover {
  background-color: var(--color-green-medium);
}

.products-item .button-green:active {
  color: rgba(255,255,255,0.5);

  background-color: var(--color-green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-item .button-yellow {
  background-color: var(--color-yellow);
}

.products-item .button-yellow:hover {
  background-color: var(--color-yellow-medium);
}

.products-item .button-yellow:active {
  color: rgba(255,255,255,0.5);

  background-color: var(--color-yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*About*/
.about {
  background-color: var(--color-bg-white);
}

.about-list {
  list-style: none;
}

.about-list-img{
  background-color: var(--color-bg-blue);
  width: 360px;
  height: 208px;
}

.about-title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark-text);
}

.about-subtitles {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-dark-text)
}

.about-list-item h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-black-text);
}

/*services-list*/

.services-list {
  list-style: none;
}

.services-list-item {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/*Table*/

.advantages th {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--color-black-text);
}

.advantages td {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-dark-text);
}

.percent {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--color-black-text);
}

/*Partners*/

.partners {
  background-color: var(--color-bg-white);
}

.partners-list {
  list-style: none;
}

.logo-html-academy,
.logo-borodinskyi,
.logo-pink,
.logo-mishka {
  opacity: 0.2;
}

.logo-html-academy:hover,
.logo-borodinskyi:hover,
.logo-pink:hover,
.logo-mishka:hover {
  opacity: 1;
}

.logo-html-academy:active,
.logo-borodinskyi:active,
.logo-pink:active,
.logo-mishka:active {
  opacity: 0.1;
}

/*contacts*/

.contacts-img {
  background-color: var(--color-bg-gray-medium);
  width: 1440px;
  height: 416px;
  margin-left: 0;
}

.address {
  background-color: var(--color-bg-white);
}

.address h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black-text);
}

.address p {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-gray-light-text);
}

.contacts-phone {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-gray-light-text);
}

.contacts-button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-bg-white);
  background-color: var(--color-red);
  vertical-align: middle;
  text-align: center;
  border: none;
}

.contacts-button:hover {
  background-color: var(--color-red-medium);
}

.contacts-button:active {
  color: rgba(255,255,255,0.5);
  background-color: var(--color-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*Modal*/

.modal {
  background-color: var(--color-bg-white);
}

.modal h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--color-black-text);
}

.modal label {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-black-text);
}

.modal input {
  border: none;
  border: 2px solid var(--color-border-gray);
}

.modal input:hover {
  border-color: var(--color-border-gray-medium);
}

.modal input:focus {
  border-color: var(--color-black-text);
}

.modal input:invalid {
  color: var(--color-red-medium);
  border-color: var(--color-red-medium);
}

.modal input:hover::placeholder {
  color: var(--color-gray-text);
  opacity: 0.5;
}

.modal input:focus::placeholder {
  color: var(--color-gray-text);
}

.modal input:invalid::placeholder {
  color: var(--color-red-medium);
}

.modal textarea {
  border: 2px solid var(--color-border-gray);
}

.modal textarea:hover {
  border-color: var(--color-border-gray-medium);
}

.modal textarea:focus {
  border-color: var(--color-black-text);
}

.modal textarea:focus::placeholder {
  color: var(--color-gray-text);
}

.modal textarea:invalid {
  border-color: var(--color-red-medium);
}

.modal textarea:hover::placeholder {
  color: var(--color-gray-text);
  opacity: 0.5;
}

.modal-button {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-bg-white);
  background-color: var(--color-red);
  vertical-align: middle;
  text-align: center;
  border: none;
}

.modal-button:hover {
  background-color: var(--color-red-medium);
}

.modal-button:active {
  color: rgba(255,255,255,0.5);
  background-color: var(--color-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*main-footer*/

.main-footer {
  background-color: var(--color-bg-white);
}

.footer-list {
  list-style: none;
}

.footer-social {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--color-bg-gray);
}

.social-button:hover {
  background-color: var(--color-red-medium);
}

.social-button:active {
  background-color: var(--color-red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: var(--color-bg-white);
  opacity: 0.3;
}

.footer-title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--color-black-text);
}

.footer-subtitle {
  font-family: "Roboto", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-gray-text);
}


/*Catalog*/

.catalog-title {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--color-black-text);
  background-color: var(--color-bg-gray-light);
  margin: 0;
}

/*Filters*/

.filters h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black-text);
}

.filters legend {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black-text);
  border: 0;
}

.filters ul {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  color: var(--color-dark-text);
}

/*Checkbox, radio*/

.filter-input-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter-input-checkbox+label::before {                      /*ДОДЕЛАТЬ ЧЕКБОКСЫ И РАДИОКНОПКИ!*/
  content: '';
  display: inline-block;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
  margin-right: 13px;
}

.filter-input-checkbox:checked+label::before {
  background-image: url("../img/Shape.svg");
  color: var(--color-gray);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: var(--color-gray);
}

/*Catalog*/

.catalog h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black-text);
}

.catalog ul {
  list-style: none;
}

.icon-down path {
  fill: #231f20;
  opacity: 1;
}

.icon-up path {
  fill: #a6a6a6;
  opacity: 0.2;
}

.icon-up:focus path {
  fill: #a6a6a6;
}
